body {
    background-color: #DD94F7;
}
h1,h2 {
    color: darkorchid;
    padding-left: 350px;
}
p {
    color:darkorchid;
    padding-left: 350px;
}
ul{
    color:darkorchid;
    padding-left: 350px;
}