body {
    background-color: #F0705C;
}
h1,h2 {
    color: lightsalmon;
padding-left: 350px;
}
p {
    color: lightsalmon;
    padding-left: 350px;
}
ul {
    color:lightsalmon;
    padding-left: 350px;
}